body {
    background-color: #e3eef7;
    color: #ff9933;
    font-size: 150%;
    line-height: 1.4;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1{
    margin-top:0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #AEB7A7;
}

h3{
    margin:0px;
    color: #ff9933;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
    margin:0px;
}

#main {
    padding: 20px;
}

a {
    color: #32763F;
    text-decoration: none;
}

a:visited {
    color: #9FC080;
    text-decoration: none;
}

img{
    padding: 15px;
}

.headshot{
    float:right;
    height: 360px;
    padding-top:0px;
}

.textbox {
    width:70%;
    color: white;
    font-size: 110%;
    background:transparent;
    padding: 4px;
    border:1px solid white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
    background: white;
    font-size: 110%;
    color:gray;
    padding: 4px;
    border:2px solid white;
}

.redacted{
    background-color: #D7CEC7;
    color: #D7CEC7;
}

.half{
    width: 48%;
    float: left;
}

.box { 
    width: 250px;
    margin: 15px;
    display: inline-block;
    vertical-align: top; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.box img{
    margin: 0;
    padding: 0;
    width: 100%;
}

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}
